@css{
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

.top-container {
  background-color: #f1f1f1;
  color: #f1f1f1;
  padding: 30px;
  text-align: center;
}

p {
  @apply leading-normal;
  @aplly text-sm;
  @apply text-black;
}

.header {
    background:#6F213F;
  color: #f1f1f1;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}

.nav {
  color: #f1f1f1;
  overflow: hidden;
  top: 0;
  width: 100%;

}

.nav li a {
  float: left;
  display: block;
  color: #f1f1f1;
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 18px;
}

.nav li a:hover {
  background: #FFEBEF;
  color: #6F213F;
}

.footer {
  padding: 10px 16px;
  background:#6F213F;
  color: #f1f1f1;
  width: 100%;
  text-align: justify;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 12px;

}


.navbar-nav > li.current_page_item a,
.navbar-nav > li.current_page_parent a {
	color: white;
}


}